/* app css stylesheet */
// Imports
@import "modules/fonts";
@import "modules/colors";
@import "modules/icons";
@import "modules/misc";
@import "main";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -webkit-app-region: drag;
    background-color: $primary-clr;
}

.titlebar--btn {
    padding: 10px 25px;
    color: $base-clr;
    cursor: pointer;
    -webkit-app-region: no-drag;
    &:hover{
        background-color: saddlebrown;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    &--task {
        padding: 1.5em 0.5em 1.5em 0.5em;
    }
}

.card {
    display: flex;
    flex-direction: row;
    &--task {
        padding: 0.3em;
        align-items: center;
    }
    &--info {
        flex-direction: column;
    }
    &--side {
        margin-left: auto;
    }
    &--center {
        align-items: center;
    }
}
